.assesment-top{
    background-color: rgb(122, 224, 234); ;
    padding: 20px;
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.assesment-container{
 display: flex;
 height:100vh;
}
.assesment-left{

 width : 18%;
 background-color: rgb(55, 194, 206);
}
.assesment-left ul{
 list-style: none;
 padding: 20px 20px;
}

.assesment-left ul li{
 margin-bottom: 20px;
}
.assesment-left ul li a{
 text-decoration: none;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 20px;
}
.assesment-right{
 width : 82%;
}
.assesment-right h4{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 23px;
 font-weight: bold;
 color: black;
 padding: 20px 50px;
 margin-bottom: 2px;
}
.assesment-right-container{
 gap: 20px;
 border: 1px solid #ccc;
 box-shadow: 1px 1px 5px #c0bbbb;
 border-radius: 10px;
 max-width: 700px;
 max-height: 800px;
 padding: 50px 50px;
 margin: 0 auto;
}

.assesment-right-container form{
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.assesment-right-container select,
.assesment-right-container input{
outline: none;
border-radius: 5px;
border: 1px solid #ccc;
height: 30px;
font-size: 18px;
color: black;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.assesment-right-container label{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px;
 font-weight: bold;
}
.assesment-right-container button{
 background-color: blue;
 font-family: Arial, Helvetica, sans-serif;
 color: white;
 font-size: 17px;
 font-weight: bold;
 border-radius: 10px;
 height: 40px;
 transition: background-color 0.3s ease;
}
.assesment-right-container button:focus{
 background-color: rgb(83, 83, 220);
}
